.TextArea-scroll::-webkit-scrollbar{
    width: 0.3rem;
}
.TextArea-scroll::-webkit-scrollbar{
    background-color: var(--dark);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  /* Webkit browsers (Chrome, Safari) */
  -webkit-appearance: none;
  margin: 0; /* Remove default spacing */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.InAnimation {
  animation: 0.1s ease-in In;
}
@keyframes In {
  from{
    translate:0 -10%;
    opacity: 0;
    z-index: -1;
  }
  to{
    translate:0 0%;
    opacity: 1;
    z-index: 10;
  }
}

.ant-select-focused.ant-select:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  box-shadow: none; /* Disable box-shadow on focus */
}